


<footer class="bg-info p-4 mt-5">
    <div class="row mx-3 justify-content-center">
        <div class="col-4 footer-links m-2">
            <h4 class="text-uppercase text-success">Our Offers</h4>
            <ul class="text-light">
                <li><a href="#">Courses</a></li>
                <li><a href="#">About Info</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flex-column ">
            <h4 class="text-uppercase text-success">Follow Us</h4>
            <div class="follow-icons d-flex gap-3 my-2">
                <a href="https://www.linkedin.com/in/dansan dsn"><i class='bx bxl-linkedin'></i></a>
                <a href="https://www.github.com/dansan-dsn"><i class='bx bxl-github'></i></a>
                <a href="https://wa.me/256755377338"><i class='bx bxl-whatsapp'></i></a>
            </div>
        </div>
    </div>
</footer>

<script defer src="bootstrap.js"></script>
</body>
</html>
