<%- include('./partials/header') %>

<div
  class="container-fluid my-2 d-flex col-6 justify-content-center align-items-center flex-column"
>
  <ul class="list-group my-5 w-100">
    <% todo.forEach( todos => { %>

    <li class="list-group-item list-group-item-action">
      <%= todos.todo %>
      <a
        href="./delete/todo/<%= todos._id %>"
        type="button"
        class="btn-close float-end rounded-pill bg-danger"
        data-bs-dismiss="list"
        aria-label="Close"
      ></a>
    </li>
    <% }) %>
  </ul>
  <form
    action="./add/todo"
    method="post"
    class="w-100 d-flex justify-content-center align-items-center my-5"
  >
    <i class="bx bx-plus bg-dark p-2 fs-4 text-light"></i>
    <input
      type="text"
      name="todo"
      placeholder="Add task"
      class="bg-dark fs-4 px-2 text-light outline-none content"
    />
  </form>
</div>

<%- include('./partials/footer') %>
