
.footer-links li {
    color: black;
    list-style-type: none;
}
.footer-links ul a {
    line-height: 2em;
    color: black;
    text-decoration: none;
    opacity: .4;
    font-size: 1.4em;
}

.footer-links ul a:hover {
    opacity: 1;
    text-decoration: underline;
    transition: all .4s;
}

.follow-icons a {
    background: black;
    /* padding: .02em; */
    border-radius: 5px;
    color: white;
    font-size: 2.5em;
}

.follow-icons a:hover {
    opacity: .7;
}

.follow-icons a:nth-child(1) {
    background-color: rgb(40, 106, 230);
} 

.follow-icons a:nth-child(3) {
    background: rgb(1, 163, 1);
}

/* main content */

form .content {
    outline: none;
    border: none;
    font-size: 10em;
}